# Pandas

In [4]:
import pandas as pd # Подключение библиотеки для работы с БД
from datetime import datetime

In [5]:
df = pd.read_csv('') # Считывание информации из файла и запись в переменную

FileNotFoundError: [Errno 2] No such file or directory: ''

In [ ]:
df.head() # Первые 5 элементов
df.tail() # Последнии 5 элементов
df.shape # Количество строк и колонок (с, к)
df.dtypes # Типы двнных в колонках
# и так далее https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [ ]:
df = df.rename(columns={'Номер' : 'number', 'Статус' : 'status'}) # Переименование колонок

In [ ]:
df['status'] # Вывод определенной колонки
df.status

In [ ]:
df .groupby('tittle', as_index=False) \
    .aggregate({'money':'sum'}) \
    .sort_values('money') 
# Вывод прибыли по каждому курсу по возрастанию

In [ ]:
money_by_city = df .groupby(['tittle', 'city'], as_index=False) \
    .aggregate({'money':'sum'}) \
    .sort_values('money') 
# Вывод прибыли по каждому курсу и городу по возрастанию

In [ ]:
money_by_city.to_csv('money_by_city', index=False)

In [ ]:
money_title = df \
    .query("status == 'Завершен'") \
    .groupby('tittle', as_index=False) \
    .aggregate({'money':'sum', 'number': 'count'}) \
    .sort_values('money') \
    .rename(columns={'number': 'success_orders'})
# Вывод прибыли по каждому курсу по возрастанию

In [ ]:
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = ('money_title_{}.csv')
file_name.format(today_day) 
# Активизация работы

'money_title_2024-03-09.csv'

# Задание

1. Импортируйте библиотеку pandas, а затем загрузите датасет 2_taxi_nyc (находится в папке). Результат сохраните в переменную taxi.

In [ ]:
import pandas as pd
taxi = pd.read_csv('2_taxi_nyc.csv')
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

pickup_dt – период с точностью до часа

pickup_month – месяц

borough – район Нью-Йорка, из которого был сделан заказ (5 районов + аэропорт)

pickups – число поездок за период (час)

hday – является ли день праздничным/выходным; Y - да,  N - нет

spd – скорость ветра в милях в час

vsb – видимость

temp – температура в градусах Фаренгейта

dewp – точка росы по Фаренгейту

slp – давление

pcp_01 – количество осадков за час

pcp_06 – количество осадков за 6 часов

pcp_24 – количество осадков за 24 часа

sd – глубина снега в дюймах

2. Проверьте, сколько всего строк и столбцов имеется в датасете.

In [7]:
taxi.shape

(29101, 14)

3. Давайте посмотрим на типы колонок. Все ли из них считались правильно? Назовите тип, преобладающий в датасете.

In [11]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [12]:
taxi.dtypes.value_counts()

float64    9
object     4
int64      1
Name: count, dtype: int64

4. В названиях столбцов pcp 01, pcp 06, pcp 24 встречается пробел. Это не очень удобно, если в дальнейшем вы планируете обращаться к колонкам через точку, без использования кавычек и скобочек. 
Замените пробел в названиях на знак нижнего подчеркивания.

In [17]:
taxi =taxi.rename(columns={'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

5. Сколько раз в данных встречается район Бруклин (Brooklyn)?

In [23]:
taxi.query("borough == 'Brooklyn'").shape[0]
# taxi.borough.value_counts()

4343

6. Выяснить, из какого района было совершено наибольшее количество поездок за весь период. Для начала, посчитайте общее количество поездок (pickups), без группировки.