# Лекция 4

## Задание

In [2]:
import pandas as pd

1) В переменной df находится датафрэйм. Ваша задача положить в переменную  df_shape строку с информацией сколько линий и столбцов он имеет в следующем виде: 'df has y rows and x columns', где y – число строк, а x – число колонок.

In [45]:
df = pd.DataFrame({'a' : [1, 2, 3], 'b' : ['aaa', 'bbb', 'ccc']})
df_shape = 'df has {} rows and {} columns'
df_shape = df_shape.format(df.shape[0], df.shape[1])
df_shape

# df_shape = f'df has {df.shape[0]} rows and {df.shape[1]} columns'

'df has 3 rows and 2 columns'

2) Положите в переменную na_number серию, в которой для каждой колонки указано сколько ячеек содержат пропущенные значения. Например, для такого датафрэйма: task2_1.png (в папке)
Ответ будет: task2_2.png (в папке)

In [46]:
df = pd.DataFrame({'client_id' : [None, 3998.0, None, None, 5736.0], 'sex' : [None, 1.0, None, None, 0.0], 'wealth' : [None, 'high', None, None, 'high'], 'age' : ['58', '55', '46', '23', '44']})
na_number = df.isna().sum()
na_number

client_id    3
sex          3
wealth       3
age          0
dtype: int64

3) Сохраните в переменную df_types типы данных каждой колонки датафрэйма df.

In [47]:
df_types =  df.dtypes
df_types

client_id    float64
sex          float64
wealth        object
age           object
dtype: object

4) Внезапно оказалось, что в переменной age значения хранятся в виде строк! Поменяйте тип значений на целочисленный в этой колонке датафрэйма df.

In [48]:
df = df.astype({'age' : 'int'})
df.dtypes

client_id    float64
sex          float64
wealth        object
age            int32
dtype: object

5) Как выяснилось, для дальнейшего анализа нам не понадобятся колонки sex и age – удалите их из датафрэйма.

In [49]:
df.drop(columns={'age', 'sex'}, inplace=True)

6) А теперь проверим, есть ли в нашей таблице df дубликаты по полю client_id – дропните все строки, в которых значения в колонке client_id повторяются.

In [52]:
df.drop_duplicates(subset=['client_id'], inplace=True)
df

   client_id wealth
0        NaN   None
1     3998.0   high
4     5736.0   high

7) Небольшой перерыв на чистый питон. В списке numbers содержатся числа. Добавьте через цикл в список positive_numbers положительные числа из numbers. При этом, если вам попался 0, то нужно прекратить этот цикл.

Например,
numbers = [1, -2, 3, 0, -3, 2]

Тогда positive_numbers должен быть:
positive_numbers = [1, 3]

In [54]:
numbers = [1, -2, 3, 0, -3, 2]
positive_numbers = []

for number in numbers:
    if number == 0:
        break

    if number > 0:
        positive_numbers.append(number)

positive_numbers

[1, 3]

8) Продолжим анализ данных по поездкам. В предыдущем уроке вы изучили распределения оценок водителей и клиентов. Теперь посмотрим на колонки со временем!

Сохраните данные, находящиеся в папке (taxi_peru.csv), в переменную taxi, разделитель – ;. Затем приведите столбцы start_at, end_at, arrived_at к формату даты, используя pd.to_datetime(). Отфильтруйте данные и оставьте наблюдения со статусом заказа "asap" и "reserved" (start_type) .

In [3]:
taxi = pd.read_csv('taxi_peru.csv', sep=';')

# taxi['start_at'] = pd.to_datetime(taxi.start_at)
# taxi['end_at'] = pd.to_datetime(taxi.end_at)
# taxi['arrived_at'] = pd.to_datetime(taxi.arrived_at)

taxi[['start_at', 'end_at', 'arrived_at']] = taxi[['start_at', 'end_at', 'arrived_at']].apply(pd.to_datetime)

taxi = taxi.query('start_type == "asap" or start_type == "reserved"')

9) Создайте колонку wait_time, в которой будет храниться разница между временем подачи машины (arrived_at) и временем заказа (start_at) в минутах. Чтобы сконвертировать полученный результат в минуты, можно использовать метод  .astype('timedelta64[m]')

In [ ]:
taxi['wait_time'] = (taxi.arrived_at - taxi.start_at).astype('timedelta64[m]')

9) Посмотрим, какие водители опаздывали на заказы к определенному времени (start_type == 'reserved'). Опозданием считается время ожидания wait_time > 0.0.

Сгруппируйте отфильтрованные данные по driver_id и в качестве ответа укажите id водителя, который опоздал на заказ интересующего нас типа наибольшее число раз

10) Подумайте, что может влиять на число опозданий из прошлого задания

11) Добавьте столбец month, где будет храниться месяц, в котором был сделан заказ (start_at), как номер, и столбец weekday – название дня недели.

In [20]:
taxi['month'] = taxi.start_at.dt.month
taxi['weekday'] = taxi.start_at.dt.strftime('%A')

12) Постройте график числа заказов по месяцам (month). Подумайте, с чем может быть связана полученная картина. 
Вопрос: в каком летнем месяце было сделано наименьшее число заказов? В качестве ответа введите номер месяца (6, 7 или 8).

In [17]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(12,8))
sns.countplot(taxi.month)

13) А теперь – график по дням недели (weekday). Задать порядок столбиков на графике можно с помощью аргумента order, которому нужно передать список названий в нужном порядке. Например: 
sns.countplot(data['column'], order=['One', 'Two', 'Three'])
Вопрос: в какой день недели суммарно поступило меньше всего заказов?

In [ ]:
plt.figure(figsize=(12,8))
sns.countplot('weekday',
              data=taxi,
              order=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
              hue='start_type')

14) 
Также мы можем посмотреть на несколько простых метрик, показывающих число уникальных пользователей за определённый период:

DAU (daily active users) – число уникальных пользователей за день

WAU (weekly active users) – число уникальных пользователей за неделю

MAU (monthly active users) – число уникальных пользователей за месяц

Активные пользователи – те, кто воспользовался приложением и сделал хотя бы один заказ за выбранный промежуток времени. Постройте график MAU и выберите 
верные утверждения. 

Могут пригодиться:

groupby – группировка

nunique – число уникальных значений

plot.line – линейная диаграмма