# Pandas

In [ ]:
money_by_city.to_csv('money_by_city', index=False)

In [1]:
from datetime import datetime
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = ('money_title_{}.csv')
file_name.format(today_day) 
# Активизация работы

'money_title_2024-03-29.csv'

# Задание (1)

1. Импортируйте библиотеку pandas, а затем загрузите датасет 2_taxi_nyc (находится в папке). Результат сохраните в переменную taxi.

In [5]:
import pandas as pd
taxi = pd.read_csv('2_taxi_nyc.csv')
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

pickup_dt – период с точностью до часа

pickup_month – месяц

borough – район Нью-Йорка, из которого был сделан заказ (5 районов + аэропорт)

pickups – число поездок за период (час)

hday – является ли день праздничным/выходным; Y - да,  N - нет

spd – скорость ветра в милях в час

vsb – видимость

temp – температура в градусах Фаренгейта

dewp – точка росы по Фаренгейту

slp – давление

pcp_01 – количество осадков за час

pcp_06 – количество осадков за 6 часов

pcp_24 – количество осадков за 24 часа

sd – глубина снега в дюймах

2. Проверьте, сколько всего строк и столбцов имеется в датасете.

In [7]:
taxi.shape

(29101, 14)

3. Давайте посмотрим на типы колонок. Все ли из них считались правильно? Назовите тип, преобладающий в датасете.

In [11]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [12]:
taxi.dtypes.value_counts()

float64    9
object     4
int64      1
Name: count, dtype: int64

4. В названиях столбцов pcp 01, pcp 06, pcp 24 встречается пробел. Это не очень удобно, если в дальнейшем вы планируете обращаться к колонкам через точку, без использования кавычек и скобочек. 
Замените пробел в названиях на знак нижнего подчеркивания.

In [17]:
taxi =taxi.rename(columns={'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

5. Сколько раз в данных встречается район Бруклин (Brooklyn)?

In [23]:
taxi.query("borough == 'Brooklyn'").shape[0]
# taxi.borough.value_counts()

4343

6. Посчитайте общее количество поездок (pickups), без группировки.

In [26]:
taxi.pickups.sum()

14265773

7. Сгруппируйте данные по району (borough) и укажите, из какого пункта было совершено больше всего поездок.

In [35]:
taxi.groupby('borough') \
    .agg({'pickups': 'sum'}) \
    .idxmax()

# as_index = False

pickups    Manhattan
dtype: object

8. Сохраните название района с наименьшим числом поездок в переменную min_pickups, применив подходящий метод.

In [37]:
min_pickups = taxi.groupby('borough') \
    .agg({'pickups': 'sum'}) \
    .idxmin()
min_pickups

pickups    EWR
dtype: object

9. Сгруппируйте данные по двум признакам: району города и является ли день выходным (колонки borough и hday). Сравните среднее число поездок, и назовите районы, из которых по праздникам в среднем поступает больше заказов, чем в обычные дни.

In [41]:
taxi.groupby(['borough','hday']) \
    .agg({'pickups': 'mean'})

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

10. Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor. Обратите внимание, что итоговый датасет должен состоять из 3-х колонок – pickup_month, borough, pickups.

In [6]:
pickups_by_mon_bor = taxi.groupby(['borough', 'pickup_month'], as_index=False) \
    .agg({'pickups': 'sum'}) \
    .sort_values('pickups', ascending=False)

11. Напишите функцию temp_to_celcius, которая получает на вход колонку с температурой в °F, и возвращает значения, переведенные в градусы Цельсия.

In [45]:
def temp_to_celcius(temp):
    return (temp - 32) * 5 / 9

temp_to_celcius(taxi.temp)

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64

# Задание (2)

In [49]:
import pandas as pd
bookings = pd.read_csv('bookings.csv', sep=';')

Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [50]:
bookings.shape

(119390, 21)

In [51]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [92]:
bookings.head(7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [53]:
def to_lower_underscore(name):
    name = name.lower().replace(' ', '_')
    return name

In [56]:
bookings = bookings.rename(columns=to_lower_underscore)

Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [66]:
bookings.query('is_canceled == 0') \
        .country \
        .value_counts()[:5]

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

На сколько ночей в среднем бронируют отели разных типов?

In [71]:
bookings.groupby('hotel', as_index=False) \
        .agg({'stays_total_nights': 'mean'}) \
        .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [74]:
bookings.query('assigned_room_type!=reserved_room_type').shape[0]

14917

Проанализируйте даты запланированного прибытия. 

– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?

– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [77]:
bookings.query('arrival_date_year == 2016') \
        .arrival_date_month \
        .value_counts()

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: count, dtype: int64

In [80]:
bookings.query('hotel == "City Hotel" and is_canceled == 1') \
        .groupby('arrival_date_year') \
        .arrival_date_month \
        .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: count, dtype: int64

Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [82]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [94]:
bookings['total_kids'] = bookings.children + bookings.babies

In [95]:
bookings.groupby('hotel') \
        .agg({'total_kids': 'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False.

In [96]:
bookings['has_kids'] = bookings.total_kids > 0

Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [106]:
no_kids_churn = bookings.query('is_canceled == 1 and has_kids == False').shape[0]/bookings.query('has_kids == False').shape[0]
no_kids_churn  = round(no_kids_churn  * 100, 2)
no_kids_churn

37.22

In [107]:
yes_kids_churn = bookings.query('is_canceled == 1 and has_kids == True').shape[0]/bookings.query('has_kids == True').shape[0]
yes_kids_churn  = round(yes_kids_churn  * 100, 2)
yes_kids_churn

34.92